<p>teladelogin works!</p>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Sicredi - Login</title>
    <link rel="stylesheet" href="teladelogin.component.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="app.component.html">Voltar para a Página Inicial</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="sicredi.png" alt="Logo do Banco Sicredi">
        </div>
    </header>

   
    <section class="login-form">
        <h2>Login</h2>
        <form>
            <label for="usuario">Usuário:</label>
            <input type="text" id="username" name="usuario"><br><br>
            <label for="senha">Senha:</label>
            <input type="senha" id="password" name="senha"><br><br>
            <input type="submit" value="Entrar">
        </form>
        
        <button class="btn-login"> Esqueceu sua senha? Clique aqui </button>
    </section>

   
    <footer>
        
    </footer>

    <script src="script.js"></script>
</body>
</html>