.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00b33c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    margin: 20px;
}

.principal {
    background-image: linear-gradient(to bottom, #00b33c, #fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.descricao li {
    margin: 20px;
    width: 30%;
}

.final i {
    font-size: 24px;
    margin: 10px;
}

.rodape {
    background-color: #00b33c;
    color: #fff;
    padding: 20px;
    text-align: center;
}