div{
   
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    

}

#header{
    min-height: 50px;
    font-size: 40px;
    background-color:  rgb(24, 189, 24); 
    text-align: center;

}

#rodape{
    height: 10px;
    text-align: center;

   
    
}


#conteudo{
    background-color: rgb(24, 189, 24);
    position: relative;
    height: 110%;
    width: 600px;
    text-align: center;
    
    

}

#centro{
    height: 700px;
    max-width: 1200px;
    align-content: center;
    margin:auto

}



body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#logo{
    padding: 10px;
    align-content: top;
}