

    
    <header>
        <nav>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Produtos e Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="sicredi.png" alt="Logo do Banco Sicredi">
        </div>
    </header>

    
    <section class="principal">
        <h1>Bem-vindo ao Banco Sicredi</h1>
        <p>Gerencie suas finanças com segurança e tranquilidade</p>
       <button>Acessar Conta</button>
  
    </section>

    
    <section class="descricao">
        <h2>Nossos Produtos e Serviços</h2>
        <ul>
            <li>
                <i class="final"></i>
                <h3>Pix</h3>
                <p>Pague contas usando a funcionalidade do Pix!</p>
            </li>
            
        </ul>
    </section>

    
    <section class="rodape">
        <h2>Abra sua conta agora!</h2>
        <p>Cadastre-se e comece a gerenciar suas finanças hoje mesmo</p>
        <button>Cadastrar-se</button>
    </section>

    
    

    <script src="script.js"></script>
